@import 'styles/colors';
@import 'styles/mixins';

.tripsCarouselSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tripsHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0 20px;
    @include pagePadding;

    h2 {
        color: $blue;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
    }

    & > a {
        color: $black;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        text-align: left;
    }
}

.carousel {
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    
    & > li:first-child {
        margin-left: 160px;

        @include tablet {
            margin-left: 79px;
        }

        @include mobile {
            margin-left: 24px;
        }
    }
    
    & > li:last-child {
        margin-right: 160px;
    
        @include tablet {
            margin-right: 79px;
        }
    
        @include mobile {
            margin-right: 24px;
        }
    }
}

.card {
    position: relative;
    min-width: 360px;
    max-width: 360px;
    height: 497px;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: center;

    @include tablet {
        min-width: 295px;
        max-width: 295px;
        height: 490px;
    }

    @include mobile {
        min-width: 280px;
        max-width: 280px;
        height: 540px;
    }
}

.cardCover {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.cardOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.121739) 0%, #000000 100%);
}

.cardContent {
    z-index: 2;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    padding: 211px 16px 42px;
    box-sizing: border-box;

    & > div {
        grid-row: 1;
    }

    & > .buttonWrapper {
        grid-row: 2;
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;

    & > p {
        color: $white;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
    }
    
    & > h4 {
        margin-top: 2px;
        color: $yellow;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 17.07px;
    }

    & > p:last-child {
        margin-top: 20px;
    }
}

.cardBasicInfo {
    display: flex;
    gap: 13px;
    margin-top: 10px;

    & > div {
        display: flex;
        gap: 4px;
    }

    & > div > p {
        color: $white;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        text-wrap: nowrap;
    }
}

.buttonWrapper {
    max-width: 160px;
    max-height: 40px;
}